<div class="container">
    <div class="col-md-6 mx-auto">
    <div class="row">
        <h2>Edit Product</h2>
    </div>
    </div>

<div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Add Products</h3>
                        <form>
                            <div class="col-md-12">
                               <input class="form-control" type="text" name="Title" placeholder="Title" required>
                            </div>

                            <div class="col-md-12">
                                <input class="form-control" type="text" name="Description" placeholder="Description" required>
                            </div>

                             <div class="col-md-12">
                                <input class="form-control" type="text" name="Category" placeholder="Category" required>
                            </div>

                             <div class="col-md-12">
                                 <input class="form-control" type="text" name="Stock" placeholder="Stock" required>
                            </div>

                             <div class="col-md-12">
                                <input class="form-control" type="text" name="Brand" placeholder="Brand" required>
                            </div>

                             <div class="col-md-12">
                                <input class="form-control" type="text" name="Price" placeholder="Price" required>
                            </div>

                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary">Edit Products</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>